@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3em;
    background-color: silver;
}
